@charset "UTF-8";

:root {
    --cor1: #49a09d; /* VERDE */
    --cor2: #5f2c82; /* LILÃS */
}

* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    background-color: var(--cor2);
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
}

#login {
    position: absolute;
    top: 50%;
    left: 50%;
    overflow: hidden;

    background-color: white;
    width: 250px;
    height: 515px;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.450);

    transform: translate(-50%, -50%);
    transition: width .3s, height .3s;
    transition-timing-function: ease;
}

section#login > div#img {
    display: block;
    background: var(--cor2) url(../imagens/metal.jpg) no-repeat;
    background-size: cover;
    background-position: left bottom;
    height: 200px;
}

section#login > div#formulario {
    display: block;
    padding: 10px;
}

form > p {
    background-color: var(--cor2);
    
}

input {
    background-color: #94CFCD;
    padding: 5px;
    margin: 5px;
    font-size: 16px;
    border-radius: 10px;
}